
<div class="container mx-auto px-4 py-6">
  <h1 class="text-2xl font-bold bm-4">Películas Populares</h1>

  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="mb-6 flex justify-center items-center flex-wrap">
    <input type="text" formControlName="query" placeholder="Buscar peli" class="border p-2 mr-2 w-1/2 mb-2">
      <input type="date" formControlName="startDate" class="border p-2 mr-2 mb-2">
      <input type="date" formControlName="endDate" class="border p-2 mr-2 mb-2">
      <button class="bg-blue-500 text-white p-2 mb-2" type="submit">Filter</button>
  </form>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2" [infiniteScrollThrottle]="150" (scrolled)="onScroll()">
    <div *ngFor="let movie of movies" class="border rounded shadow-md p-4">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt={{movie.title}} class="mb-2">
      <h2 class="text-lg font-semibold">{{movie.title}}</h2>
      <p class="text-sm">{{movie.release_date}}</p>
      <p class="text-sm">Rating: {{movie.vote_average}}</p>
      <a [routerLink]="['/movie', movie.id]" class="text-blue-500 hover:underline">Ver detalle</a>
    </div>
  </div>
</div>
